---
import { MY_NAME } from "../config";
import CVInfoList from "../components/CVInfoList.astro";
import Layout from "../layouts/CvLayout.astro";
import CVSection from "../components/CVSection.astro";

const experience = (await Astro.glob("./experience/*.md")).filter(
  (exp) => exp.frontmatter.pin
);

const education = (await Astro.glob("./education/*.md")).filter(
  (edu) => edu.frontmatter.pin
);
---

<Layout content={{ title: "Curriculum Vitae" }}>
  <main>
    <div class="grid grid-rows-2 grid-cols-12 gap-2">
      <div class="row-span-2 col-span-2">
        <img src="/avatar.png" />
      </div>
      <div class="row-span-4 col-span-5">
        <h1 class="text-xl font-bold">{MY_NAME}</h1>
        <p class="text-l">Developer in Leiria, Portugal</p>
      </div>
      <div class="row-span-2 col-span-5">
        <CVInfoList />
      </div>
    </div>
    <CVSection title="Experience">
      {
        experience.reverse().map((exp) => (
          <>
            <div class="row-span-1 col-span-3 text-end font-regular">
              {exp.frontmatter.date}
            </div>
            <div class="row-span-1 col-span-9">
              <span class="font-medium">{exp.frontmatter.role}</span>,
              {exp.frontmatter.company}
            </div>
            <div class="row-span-3 col-span-3" />
            <div class="row-span-3 col-span-9 text-sm">
              <p>{exp.frontmatter.description}</p>
            </div>
          </>
        ))
      }
    </CVSection>
    <CVSection title="Education">
      {
        education.reverse().map((exp) => (
          <>
            <div class="row-span-1 col-span-3 text-end font-regular">
              {exp.frontmatter.date}
            </div>
            <div class="row-span-1 col-span-9">
              <span class="font-medium">{exp.frontmatter.course}</span>,
              {exp.frontmatter.school}
            </div>
            <div class="row-span-3 col-span-3" />
            <div class="row-span-3 col-span-9 text-sm">
              <p>
                Grade {exp.frontmatter.grade}, {exp.frontmatter.focus}
              </p>
            </div>
          </>
        ))
      }
    </CVSection>
    <CVSection title="Skills">
      <div class="row-span-1 col-span-3 text-end font-regular">Languages</div>
      <div class="row-span-1 col-span-9">
        <p>PHP, Typescript, Python, Rust, Java, C#</p>
      </div>
      <div class="row-span-1 col-span-3 text-end font-regular">Other</div>
      <div class="row-span-1 col-span-9">
        <p>Git, SQL, Linux, Android, React, Django, .NET, Agile, Scrum</p>
      </div>
    </CVSection>
    <CVSection title="Languages">
      <div class="row-span-3 col-span-3"></div>
      <div class="row-span-3 col-span-9">
        <p>Portuguese (native), English (fluent), Spanish (basic)</p>
      </div>
    </CVSection>
  </main>
</Layout>
