---
import "../styles/global.css";
import { SITE_TITLE } from "../config";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
export interface Props {
	content: {
		title: string;
		source: string;
		upload: string;
	};
}

const {
	content: { title, source, upload },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${SITE_TITLE} ${title}`}</title>
	</head>
	<body>
		<Navbar />
		<h1 class="text-4xl">{title}</h1>
		<br />
		<p><b>Uploaded</b>{upload}</p>
		<b><a href={source} target="_blank">Source Code</a></b>
		<br />
		<br />
		<hr />
		<br />
		<slot />
		<Footer />
	</body>
</html>
